.chat {
  &-container {
    padding: 0px 20px;
    overflow-y: scroll;
    height: 100%;

    .action-message {
      display: flex;
      justify-content: center;
    }
  }
  &-message {
    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 10px;
    }

    &--user {
      align-self: self-end;
    }
  }
}
