@use "src/styles/base";

.chat-message {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 350px;
    height: fit-content;
    min-height: 50px;
    padding: 10px 10px;
    border-radius: 15px;

    &--user {
      background-color: white;
      border: solid 1px base.$color-primary;
      border-bottom-right-radius: 0;
    }

    &--agent {
      background-color: base.$color-primary;
      border-bottom-left-radius: 0;
    }

    &--agent,
    .image-message {
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
  }

  &__text {
    margin: 0;
    font-size: 0.9rem;
  }
}
