@use "src/styles/base";

.chat-layout {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .is-typing-container {
      color: base.$faded-text;
      font-size: 0.8rem;
      padding-left: 5px;
      padding-bottom: 2px;
      height: 20px;
      bottom: 80px;
      background-color: transparent;

      &--hidden {
        visibility: hidden;
        height: 20px;
      }
    }
  }
}
